* {
	box-sizing: border-box;
}

body {
	background-image:
    linear-gradient(to bottom, rgba(27, 33, 37, 0.896), rgba(0, 146, 190, 0.355)),
    url('https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475664_1280.jpg');
	width: 100%;
    height: 1000px;
    background-size: cover;
    color: white;
	background-attachment: fixed;
}



h2, li, h1, p, label, h3 {
	color: #ccc;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title {
	text-align: left;
	padding-left: 65px;
	margin-top: 20px;
	font-size: 60px;
  background-color: #0e172474;

}

.header {
  position: relative;
  left: -100%;
  animation: slide-in 1.5s forwards;
}

@keyframes slide-in {
  to {
    left: 0;
  }
}

	.poliTitle {
		font-size: 50px;
	}

.container {
	display: flex;
	flex-direction: row;
}

.watchlist {
	 position: relative;
	bottom: -100vw;
	animation: slide-up 1.5s forwards; 
	flex: 3;
	width: 280px;
	margin-left: 6px;
	margin-top: 21px;
	position: fixed;
	height: 100vw;
	background-color: #0e172474;
	border: 1px solid rgb(22, 22, 22);
	transition: 0.9s;
	
}
 @keyframes slide-up {
	to {
	  bottom: -133vh;
	}
  } 

.watchlist:hover {
	border-color: #009ae1f8;
	transition: 0.5s;
}

.watchlist h2 {
	margin-top: 0;
}

.watchlist ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.watchlist li {
	padding: 10px;
	border: 1px solid #0000005f;
	background-color: #356b8c71;
	transition: background-color 0.3s;
	height: 45px;
	font-size: 15px;
}

.watchlist li:hover {
	background-color: #077fb3a7;
}

.watchlist h2 {
	text-align: center;
}


.politicians {
	
	flex: 6;
	margin:0 auto
}

.politicians h2 {
	margin-top: 0;
	text-align: center;
}

form {
	margin-bottom: 20px;
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 40%;
	background-color: #333;
	color: #fff;
}

form button {
	padding: 10px;
	background-color: #356b8c71;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: backround-color ;
}

form button:hover {
	background-color: #077fb3a7;
	transition: 0.3s;
}

span:nth-child(n) {
	height: 200px;
	width: 200px;	
	background-color: #22272fcc;
	border-radius: 10px;
	margin: 15px;
	box-shadow: 6px 6px 2px 2px rgb(0, 22, 29);
}

.politician-images {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
  margin-top:90px;
  margin:auto;
  padding-left: 125px;
  
 
}

.politician-images img {
	transition: transform .2s;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 100px;
	border-radius: 100px;
	margin-top: 10px;
	
	
}
.politician-images img:hover{
    transform:scale(1.125);
	transition: 0.6s;
}

.politician-images h2 {
	margin-top: 20px;
}

.detail-container {
	height: 500px;
	width: 600px;
	background-color: #22272f;
	margin: auto;
	box-shadow: 6px 6px 2px 2px rgb(0, 22, 29);
	border-radius: 25px;
  }

  .detail-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height:200px;
	border-radius: 200px;
	margin-top: 20px;
	padding-top: 10px;
  }

  .detail-container h3 {
	text-align: center;
  }

  .stockUl {
	text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

  .stockUl li {
	padding: 5px;
	border: 1px solid #0000005f;
	background-color: #356b8c71;
	transition: background-color 0.3s;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	transition: 0.3s;
  }

  .stockUl li:hover {
	  background-color: #077fb3a7;
	transition: 0.3;
  }

  .stock-square {
	width: 825px;
	height: 600px;
	margin-top: 20px;
	background-color: #22272f;
	margin: auto;
	box-shadow: 6px 6px 2px 2px rgb(0, 22, 29);
	border-radius: 25px;
	padding-bottom: 40px;
	
  }

  .append-container {
	padding-bottom: 30px;
	text-align: center;
  }

  #stock-title {
	text-align: center;
	padding-top: 25px;
  }

   #iFrame-div {
	border-radius: 20px;
	margin: auto;
	text-align: center;
  }
  
  /* #iGraph {
	position: absolute;
	top: 640%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.65);
	width: 4870px;
	height: 9000px;
  } */
   
   /* #iGraph:hover {
 border-color: #34bbff;
 transition: 0.3s;
   } */
   
   #graph-img {
	height: 300px;
	width: 600px;
	margin: auto;
	border-radius: 15px;
	box-shadow:  rgba(124, 196, 243, 0.632);

   }

  
  

  #shares-owned {
	text-align: left;
	padding-left: 20px;
	padding-top: 0px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
  }

  #amount-invested {
	text-align: left;
	padding-left: 20px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 100;
  }
  

  #watchlist-button {
	display: inline-block;
	height: 40px;
	margin-left: 358px;
	margin-top: 20px;
	background-color: #356b8c71;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: backround-color ;
  }

  #watchlist-button:hover {
	background-color: #077fb3a7;
  }

  .filter-button-div {
	text-align: center;
	
	
  }

  #filter-button1{
	margin-right: 10px;
	background-color:#0073ff79;
	display: inline-block;
	height: 60px;
	width: 260px;
	margin-top: 20px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	transition: backround-color ;
	outline: #fcfeff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 29px;
	box-shadow: 3px 3px 2px 2px rgb(0, 22, 29);
	transition: 0.6s;
}
#filter-button2{
	margin-left: 10px;
	background-color:#ff0c5d7d;
	display: inline-block;
	height: 60px;
	width: 260px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	box-shadow: #0000005f;
	transition: backround-color ;
	outline: #fcfeff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 29px;
	align-items:center;
	box-shadow: 3px 3px 2px 2px rgb(0, 22, 29);
	transition: 0.6s;
}

#filter-buttonAll {
	margin-left: 10px;
	background-color:#9696967d;
	display: inline-block;
	height: 60px;
	width: 150px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	box-shadow: #0000005f;
	transition: backround-color ;
	outline: #fcfeff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 29px;
	align-items:center;
	box-shadow: 3px 3px 2px 2px rgb(0, 22, 29);
	transition: 0.6s;
}

#filter-buttonAll:hover{
	transform:scale(1.03);
	transition: 0.4s;
	background-color: #2121215f;
}

#filter-button2:hover{
    transform:scale(1.03);
	transition: 0.4s;
	background-color: #d61b1b9d;
}
#filter-button1:hover{
    transform:scale(1.03);
	transition: 0.4s;
	background-color: #3aabf696;
}

  button[id^="delete-stock-"] {
	position: absolute;
	text-align: right;
	background-color: rgba(0, 62, 88, 0.612);
	margin-left: 0px;
	border-color: #22272f00;
	margin-left: 7px;
	border-radius: 9px;
	color: #00a2cab1;
	
  }

  button[id^="delete-stock-"]{
	position: absolute;
	text-align: right;
	background-color: rgba(0, 62, 88, 0.612);
	margin-left: 0px;
	border-color: #22272f00;
	margin-left: 7px;
	border-radius: 9px;
	color: #00a2cab1;
  }

  button[id^="delete-stock-"]:hover{
	color: rgb(255, 123, 123);
	transition: 2.9;
  }

  button[id^="delete-stock-"]:hover {
	color: rgb(255, 123, 123);
	transition: 2.9;
  }

  #aboutStock-title {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 20px;
  }

  #stock-info {
	margin: auto;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	width: 600px;
  }

