* {
	box-sizing: border-box;
}

body {
	background-image:
    linear-gradient(to bottom, rgba(27, 33, 37, 0.896), rgba(0, 146, 190, 0.355)),
    url('https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475664_1280.jpg');
	width: 80%;
    height: 1000px;
    background-size: cover;
    color: white;
	background-attachment: fixed;
    
	
}



h2, li, h1, p, label, h3 {
	color: #ccc;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.title {
	text-align: left;
	padding-left: 65px;
	margin-top: 20px;
	font-size: 60px;
}

	.poliTitle {
		font-size: 50px;
	}

.container {
	display: flex;
	flex-direction: row;
}

.watchlist {
	flex: 1.5;
	margin-left: 20px;
	margin-top: 21px;
}

.watchlist h2 {
	margin-top: 0;
}

.watchlist ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.watchlist li {
	padding: 10px;
	border: 1px solid #0000005f;
	background-color: #356b8c71;
	transition: background-color 0.3s;
}

.watchlist li:hover {
	background-color: #077fb3a7;
}

.watchlist h2 {
	text-align: center;
}


.politicians {
	
	flex: 6;
	margin:0 auto
}

.politicians h2 {
	margin-top: 0;
	text-align: center;
}

form {
	margin-bottom: 20px;
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 60%;
	background-color: #333;
	color: #fff;
}

form button {
	padding: 10px;
	background-color: #356b8c71;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: backround-color ;
}

form button:hover {
	background-color: #077fb3a7;
	transition: 0.3s;
}

span:nth-child(n) {
	height: 200px;
	width: 200px;	
	background-color: #00335392;
	border-radius: 15px;
	margin: 15px;
}

.politician-images {
	display: flex;
	flex-wrap: wrap;
	width: 940px;
  margin-top:90px;
  margin:auto;
  padding-left: 125px;
  
 
}

.politician-images img {
	transition: transform .2s;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 100px;
	border-radius: 100px;
	margin-top: 10px;
	
	
}
.politician-images img:hover{
    transform:scale(1.125);
	transition: 0.6s;
}

.detail-container {
	height: 500px;
	width: 500px;
	background-image: linear-gradient(rgba(10, 90, 161, 0.766), rgba(0, 25, 42, 0.65));
	margin: auto;
	box-shadow: 10px 10px 10px 7px rgb(0, 22, 29);
	border-radius: 25px;
	

  }
